<script lang="ts">

import {computed, ref} from "@vue/composition-api";

export default {
    setup(props, {root: {$store}}) {
        const loading = ref(false);

        const countx2 = computed((): number => $store.getters.countx2);
        const count = computed((): number => $store.state.count)

        //const increment = () => $store.commit("increment", {delta: 1}); 
        const increment = () => $store.direct.commit.increment({delta: 1}); 

        const incrementAsync = async() => {
            loading.value = true;
            await $store.direct.dispatch.incrementAsync();
            loading.value = false;
        }; 

        return {
            increment, incrementAsync,
            count, countx2,
            loading,
        };
    }
};

</script>

<template>
    <div>
        <button @click="increment">
            veamos
        </button>
        <br>
        <button @click="incrementAsync" :disabled="loading">
            <span v-if="loading">...</span>
            <span v-else>slower</span>
        </button>
        <br>
        count: {{count}}
        <br>
        countx2: {{countx2}}
    </div>
</template>

<style scoped>

</style>